<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Instrument List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Instrument Name</th>
            <th>Instrument Description</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of instrument | async">
            <td>{{i.instName}}</td>
            <td>{{i.instDesc}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  